body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container{
  position: relative;
  margin: 0 auto;
  width: 790px;
}

.displayBox{
  position: absolute;
  background-color: rgb(185, 185, 185);
  width: 779px;
  height: 87px;
  margin-top: 25px;
}

.bombsText{
  position: absolute;
  margin-left: 151px;
  margin-top: 43px;
  color: rgb(61, 61, 61);
  font-size: 22px;
  font-weight: bold;
}

.timeText{
  position: absolute;
  margin-left: 572px;
  margin-top: 43px;
  color: rgb(61, 61, 61);
  font-size: 22px;
  font-weight: bold;
}

.borderMain{
  margin-top: 112px;
  width: 779px;
  height: 5px;
  border-top: 3px solid rgb(90, 90, 90);
  border-bottom: 1px solid rgb(90, 90, 90);
  float: left;
  position: relative;
  display: inline-block;
  background-color: rgb(144, 144, 144);
}

.borderMain2{
  width: 779px;
  height: 5px;
  border-top: 1px solid rgb(90, 90, 90);
  border-bottom: 3px solid rgb(90, 90, 90);
  float: left;
  position: relative;
  display: inline-block;
  background-color: rgb(144, 144, 144);
}

.bombDisplay{
  position: absolute;
  margin-left: 170px;
  margin-top: 70px;
  color: red;
  font-size: 27px;
  font-weight: bold;
}

.smiley{
  position: absolute;
  margin-left: 350px;
  margin-top: 33px;
  border-radius: 10px;
  background-color: rgb(223, 223, 223);
  box-shadow: 2px 2px 1px rgb(89, 89, 89);
  outline: none;
}

#chronotime{
  position: absolute;
  margin-left: 566px;
  margin-top: 70px;
  color: red;
  font-size: 27px;
  font-weight: bold;
}

.box{
  width: 22px;
  height: 22px;
  border: 1px solid rgb(58, 58, 58);
  float: left;
  position: relative;
  display: inline-block;
  border-radius: 3px;
  margin: 1px;
  text-align: center;
  line-height: 22px;
}

.solid{
  background-color: rgb(185, 185, 185);
}

.empty{
  background-color: rgb(245, 245, 245);
  text-align: center;
  border: 1px solid rgb(153, 153, 153);
}

.one{
  background-color: rgb(245, 245, 245);
  color: blue;
  font-weight: bold;
  line-height: 22px;
  border: 1px solid rgb(153, 153, 153);
}

.two{
  background-color: rgb(245, 245, 245);
  color: green;
  font-weight: bold;
  line-height: 22px;
  border: 1px solid rgb(153, 153, 153);
}

.three{
  background-color: rgb(245, 245, 245);
  color: red;
  font-weight: bold;
  line-height: 22px;
  border: 1px solid rgb(153, 153, 153);
}

.four{
  background-color: rgb(245, 245, 245);
  color: purple;
  font-weight: bold;
  line-height: 22px;
  border: 1px solid rgb(153, 153, 153);
}

.five{
  background-color: rgb(245, 245, 245);
  color: maroon;
  font-weight: bold;
  line-height: 22px;
  border: 1px solid rgb(153, 153, 153);
}

.six{
  background-color: rgb(245, 245, 245);
  color: turquoise;
  font-weight: bold;
  line-height: 22px;
  border: 1px solid rgb(153, 153, 153);
}

.seven{
  background-color: rgb(245, 245, 245);
  color: black;
  font-weight: bold;
  line-height: 22px;
  border: 1px solid rgb(153, 153, 153);
}

.eight{
  background-color: rgb(245, 245, 245);
  color: gray;
  font-weight: bold;
  line-height: 22px;
  border: 1px solid rgb(153, 153, 153);
}

.bomb{
  background-color: rgb(185, 185, 185);
  color: red;
  font-weight: bold;
  line-height: 22px;
  border: 1px solid rgb(153, 153, 153);
}

.bombExploded{
  background-color: red;
  color: red;
  font-weight: bold;
  line-height: 22px;
  border: 1px solid rgb(153, 153, 153);
}

.player1{
  position: absolute;
  background-color: rgb(239, 238, 169);
  width: 387px;
  height: 60px;
  margin-top: 546px;
  border: 1px solid rgb(58, 58, 58);
  border-radius: 7px;
}

.player2{
  position: absolute;
  background-color: rgb(225, 225, 225);
  width: 386px;
  height: 60px;
  margin-top: 546px;
  margin-left: 391px;
  border: 1px solid rgb(58, 58, 58);
  border-radius: 7px;
}


.a01{
  position: absolute;
  margin-left: 152px;
  margin-top: 550px;
  color: rgb(61, 61, 61);
  font-size: 22px;
  font-weight: bold;
}

.a02{
  position: absolute;
  margin-left: 161px;
  margin-top: 579px;
  color: rgb(255, 0, 0);
  font-size: 20px;
  font-weight: bold;
}

.a03{
  position: absolute;
  margin-left: 60px;
  margin-top: 556px;
  color: rgb(61, 61, 61);
  font-size: 16px;
  font-weight: bold;
}
.a04{
  position: absolute;
  margin-left: 57px;
  margin-top: 575px;
  color: rgb(61, 61, 61);
  font-size: 18px;
  font-weight: bold;
}
.a05{
  position: absolute;
  margin-left: 288px;
  margin-top: 556px;
  color: rgb(61, 61, 61);
  font-size: 14px;
  font-weight: bold;
}
.a06{
  position: absolute;
  margin-left: 319px;
  margin-top: 575px;
  color: rgb(61, 61, 61);
  font-size: 18px;
  font-weight: bold;
}

.b01{
  position: absolute;
  margin-left: 532px;
  margin-top: 550px;
  color: rgb(61, 61, 61);
  font-size: 22px;
  font-weight: bold;
}
.b02{
  position: absolute;
  margin-left: 532px;
  margin-top: 579px;
  color: rgb(255, 0, 0);
  font-size: 22px;
  font-weight: bold;
}
.b03{
  position: absolute;
  margin-left: 449px;
  margin-top: 556px;
  color: rgb(61, 61, 61);
  font-size: 16px;
  font-weight: bold;
}
.b04{
  position: absolute;
  margin-left: 447px;
  margin-top: 575px;
  color: rgb(61, 61, 61);
  font-size: 18px;
  font-weight: bold;
}
.b05{
  position: absolute;
  margin-left: 664px;
  margin-top: 556px;
  color: rgb(61, 61, 61);
  font-size: 14px;
  font-weight: bold;
}
.b06{
  position: absolute;
  margin-left: 698px;
  margin-top: 575px;
  color: rgb(61, 61, 61);
  font-size: 18px;
  font-weight: bold;
}
